

/*--
	name: Jake Aubrey
	Date: 12/12/2016
*/




body {
	margin: 0px auto;
	line-height: 1.5;
	background: #eee;
	max-width: 1000px;
	font-family: arial;
}

header {
	background: linear-gradient(#678, #567);
	min-height: 100px;
	text-align: center;
	box-shadow: 0px 0px 15px #666;
}

header img {
	margin: 10px;
	max-width: 90%;
}

nav {
	display: inline-block;
}

nav ul {
	padding: 0;
}

nav ul li {
	display: inline-block;
	float: left;
	height: 30px;
	min-width: 100px;
	background: linear-gradient(#abc, #cde);
	margin: 5px 10px;
	line-height: 30px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	height: 100%;
	width: 100%;
	text-shadow: 2px 2px 3px #ddd;
}

nav ul li:hover, .active {
	background: linear-gradient(#cba, #edc);
}

nav ul li:hover a {
	color: #555;
}

section {
	clear: both;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 15px #666;
	overflow: hidden;
}

section article h3 {
	font-size: 32px;
	background: #789;
	max-width: 400px;
	margin-left: -10px;
	padding: 0 20px;
	color: #fff;
	text-shadow: 2px 2px 3px #333;
}

section p {
	text-indent: 20px;
}

article img {
	border: 1px solid #000;
	margin: 0 20px;
}

p:first-letter {
	font-size: 20px;
	color: #678;
}

footer {
	text-align: center;
	padding: 10px;
}

fieldset {
	text-align: center;
}

fieldset legend {
	text-align: left;
	font-size: 32px;
}

form div label {
	text-align: right;
	vertical-align: top;
}

form div * {
	display: inline-block;
	min-width: 200px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.box {
	border: 1px solid #000;
	margin: 10px;
}

.box h4 {
	min-height: 30px;
	font-size: 28px;
	background: linear-gradient(90deg, #789 40%, #cde);
	margin: 0px;
	color: #fff;
	padding: 5px;
	border-bottom: 1px solid #000;
	text-shadow: 2px 2px 3px #333;
}

.box div {
	padding: 10px;
	overflow: hidden;
}

.box table {
	border: 1px solid #666;
	max-width: 500px;
	margin: 0 auto;
	color: #fefefe;
	font-size: 16px;
}

.box table tr td {
	background: #678;
	padding: 4px;
}

.box table tr td:first-child {
	background: #789;
	padding: 4px;
}